body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.header {
  background-image: linear-gradient(79deg, #0BCFF8, #AAE13C, #026B9C, #486E2D, #101B23);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
}



.nav-menu {
  display: flex;
  flex: end;
  font-family: "Courier Prime", monospace;
  background-color: #0000;
}

ul a {
  list-style-type: none;
  text-decoration: none;
}

.nav-menu li {
  padding: 0 1rem;
  display: inline-block;

}

.nav-menu li a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}

.nav-menu li a:hover {
  color: #17A6D7;
}

.nav-menu .selected {
  color: #17A6D7;
}


a {
  text-decoration: none;
  color: white;
}

form {
  border: "2px ";
  border-radius: "5px";
  margin: "5px"
}

input {
  background: "#c3d898";
  color: "#70161e";
  height: 'auto';
  width: '100px';
}

btn {
  color: "black";
  background: "#858585";
  border: "black";
  height: 'auto';
  width: 'auto';
}

button {
  color: "black";
  background: "#858585";
  border: "black";
  width: "10%";
}
